.ez-primary {
    background-color: #fec234; 
}

.ez-secondary {
    background-color: #333333; 
}

.ez-highlight {
    background-color: #eeeeee; 
}

.ez-bg {
    background-color: #111122; 
}

.filter-white {
    filter: brightness(0) invert(1);
}

.filter-blur {
    filter: blur(10px);
}

.border-left-yellow {
    border-left:solid 10px #fec234;
}
.border-right-yellow {
    border-right:solid 10px #fec234;
}