.ez-primary {
    background-color: #fec234; 
}

.ez-secondary {
    background-color: #333333; 
}

.ez-highlight {
    background-color: #eeeeee; 
}

.ez-bg {
    background-color: #111111; 
}

.filter-white {
    filter: brightness(0) invert(1);
}

.filter-blur {
    filter: blur(10px);
}