body {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-22 {
    font-size: 22px;
}